.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
    color:#ddd;
    border-bottom: 2px solid #3c3c3c;
}
.navbar{
    position: sticky;
    top:0px;
    left:0px;
    right:0px;
    z-index: 1000;
    background-color: black;
}
.navbar .logo{
   width:max(12vw,120px);
}
.navbar ul{
    display: flex;
    gap:40px;
    list-style: none;
}
.navbar li{
    cursor:pointer;
}
.nav-right{
    display: flex;
    align-items: center;
    gap:max(1vw,12px);
}
.navbar select{
    padding: 5px 5px;
    border-radius: 5px;
    border: 2px solid white;
    background: transparent;
    color: white;
}
.navbar option{
    background-color: #09005c;
    color: #ddd;
}
.navbar button{
    display: flex;
    align-items: center;
    gap:5px;
    padding:10px 25px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #393939;
    background: white;
    border:none;
    cursor:pointer;
}

.navbar button img{
    width:11px;
}

 /* .active{
  font-weight: 900;
  border: 2px solid red;
  padding: 5px;
  border-radius: 4px;
 } */

 .active {
  font-weight: 600;            /* emphasize active text */
  /* border: 1px solid red;          smooth rounded look */
  border-radius: 5px;
  padding: 4px;       /* more clickable area*/
  box-shadow: 0 2px 8px rgba(240, 237, 237, 0.913); /* subtle shadow */
  /* transform: scale(1.02);
  transition: all 0.2s ease-in-out; */
}
