/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Poppins&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

a{
  text-decoration: none;
  color:inherit;
}

.app{
  min-height: 100vh;
  color:rgb(234, 220, 220);
} */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  min-height: 100vh;
  color: rgb(234, 220, 220);

  /* Background Image */
  background-image: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)), 
    url("https://images.unsplash.com/photo-1640826514546-7d2eab70a4e5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNyeXB0b2N1cnJlbmN5fGVufDB8fDB8fHww"); 

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
